.nav-open-btn {
  color: var(--white);
  font-size: 35px;
}

.nav-open-btn ion-icon { --ionicon-stroke-width: 40px; }

.navbar {
  position: fixed;
  top: 0;
  left: -300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  z-index: 3;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  visibility: visible;
  transform: translateX(300px);
  transition: 0.5s var(--cubic-out);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 1px solid var(--plutinum);
  padding: 30px 20px;
}

.navbar-top .logo {
  color: var(--onyx);
  font-size: 3rem;
}

.nav-close-btn { font-size: 25px; }

.nav-close-btn ion-icon { --ionicon-stroke-width: 40px; }

.navbar-item:not(:last-child) { border-block-end: 1px solid var(--plutinum); }

.navbar-link {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  transition: var(--transition);
}

.navbar-link:is(:hover, :focus) {
  background-color: var(--cultured-1);
  color: var(--dark-orange);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black_60);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.navbar-brand {
  font-weight: bold;
}

.masthead {
  background: url('assets/webpic.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.masthead h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #d4af37;
}

#mainNav {
  transition: top 0.3s;
}

.rectangle-link {
  display: block;
  padding: 20px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
  text-align: center;
  margin: 10px 0;
}

.rectangle-link:hover {
  background-color: #232425;
}

h1, h2, h3, h4, p {
  margin: 10px 0;
  text-align: center;
}

.page-section {
  padding: 40px 0;
  text-align: center;
}

.link-section {
  padding-bottom: 40px;
}